* {
    background: #0F2027;  
/* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */

}

.team__header {
    color: rgb(8, 8, 8);
    background: #b92b27;  
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27); 
    font-size: 30pt;
    text-align: center;
    padding: 50px 0;
    text-shadow: none;
    
}

.card__container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.cardContainer {
  background-image: linear-gradient(to left, blue, red);
    color: rgb(194, 29, 29);
    display: flex;
    flex-wrap: wrap;
    margin: 0 4em;
    padding-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    box-shadow: 10px 10px 25px black;

}

.cardHeader {
    background-color: #0177F7;
    color: white;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
}

.cardBody {
    color: black;
    background-color: rgb(200, 200, 200);
    padding: 2em 1em;
}

.employeeName {
    font-size: 26pt;
    margin: 0.5em -2em;
    text-align: left;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.employeeRole {
    font-size: 20pt;
    margin: -0.5em -0.5em 0.5em -3.5em;
    text-align: center;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;


}

.employeeId {
    background-color: rgb(243, 95, 95);
    margin: 0.5em 0.5em 0 0.5em;
    border: 1px solid lightgrey;
    font-size: 14pt;
    padding: 0.2em 1em;
}

.employeeEmail {
    background-color: rgb(243, 95, 95);
    margin: 0 0.5em 0 0.5em;
    border: 1px solid lightgray;
    font-size: 14pt;
    padding: 0.2em 1em;
}

.employeeSpecific {
    background-color: rgb(243, 95, 95);
    margin: 0 0.5em 0.5em 0.5em;
    border: 1px solid lightgrey;
    font-size: 14pt;
    padding: 0.2em 1em;
}

.team__header:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}

